<!DOCTYPE html>
<html>
      <head>
            <title> {{page.title}} </title>
            <link rel="stylesheet" type="text/css" href="/css/main.css">
      </head>
      <body>
              <nav>
              <ul>
                    <li><a href="/">Inicio</a></li> 
                    <li><a href="/about">Acerca de mí</a></li>
                    <li><a href="/project">Proyecto</a></li>
                    <li><a href="/hw">Tareas</a></li>
              <ul>
              </nav>
              <div class="container">
             
              {{  content }}
                
              </div>
              <footer>
              <ul>
                  <li><a href="mailto:jeffreyone2009@hotmail.com">Correo eléctronico</a></li>
                  <li><a href="https://github.com/epicondylelbow/">github.com/epicondylelbow/</a></li>
                    
                    <p> La epicondilitis : (codo de tenista) es una tendiopatia crónica  del tendón extensor radial corto del carpo(ECRB). 
Es caracterizado por ser un dolor en el epicondilo siendo este irradiado al antebrazo, generado normalmente  por  un exeso de  uso del  tendón
                          <img src="/Taller de proyectos I/a00765f01.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
                    </p>
              </ul>
              </footer>
      </body>
</html>
